<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base" lang="pt-br">

<head>
<title>Cadastro Cliente</title>
</head>

<section layout:fragment="conteudo">
	<br></br>
	<div class="page-header">
		<div class="row">
			<div class="col-lg-12">
				<h2>Cadastro Cliente</h2>
			</div>
		</div>
	</div>
	<br></br>
    <div class="row">
      <div class="col-lg-12">
        <form class="form-horizontal" th:action="@{/cadastro}" method="post">
          <div class="form-group">
            <label class="control-label col-xs-3" for="nome">Nome Completo:</label>
            <div class="col-xs-9">
              <input type="text" class="form-control" id="nome" placeholder="Nome completo" name="nome"></input>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3" for="preco">E-mail:</label>
            <div class="col-xs-9">
              <input type="text" class="form-control" id="email" placeholder="" name="email"></input>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3" for="qtd">Senha:</label>
            <div class="col-xs-9">
              <input type="password" class="form-control" id="senha" placeholder="Senha" name="senha"></input>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-offset-10 col-xs-9">
              <input type="reset" class="btn btn-default" value="Cancelar"></input>
              <input type="submit" class="btn btn-primary" value="Cadastrar"></input>
            </div>
          </div>
        </form>
      </div>
    </div>
</section>
</html>
